body {
  position: absolute
  background-color: #f2f2f2;
  margin: 0 auto;
  padding: 0;
  font-family:'PT Sans',sans-serif;
}

header {
	width: 956px;
	height: 56px;
	background: white;
  align-items: center;
}

.header-logo {
  width: 140px;
  height: 71px;
  position: absolute;

}

.welcom {
	background-image: url("img/jpeg/background-photo.jpeg");
}
.welcome-sedona {
  width: 459px;
  width: 353px;
}
.main-reasons-item {
  width: 400px;
  height: 256px;
  background-color: #81b3d2;

}
 .copyright-logo {
  width: 115px;
  height: 41px;
}

.socila-list__item-link {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  background-position: center center;
  background-repeat: no-repeat
}
legend.search-hotel {
  width: 568px;
  height: 86px;
  background-color: #766357;
}
.search-hotel__item {
  width: 568px;
  height: 395px;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}
.date {
  width: 346px;
  height: 38px;
  background-color: #f2f2f2;
}
.search-hotel__find {
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
}
.calendar {
  width: 21px;
  height: 22px;
  object-fit: contain;
  background-color: #a9a9a9;
}
fieldset {
	border:none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.sorting {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  max-width: 1000px;
  margin: 0px auto;
  align-items: center;
}

.sorting-left {
  display: flex;
  justify-content: flex-start;
}

.sorting-title {
  margin-right: 10px;
}

.sorting-options {
  display: flex;
}

.sorting-options__list {
  display: flex;
  list-style-type: none;
}

.sorting-options__list-item {
  margin-right: 10px;
}

.sorting-order {
  display: flex;
  align-items: center;
}

.price-range {
  position: relative;
  width: 300px;
  margin: 0 auto;
  height: 20px;
  display: flex;
  justify-content: space-between;
  border: 1px solid gray;
  background-color: gray;
}

.price-range__circle {
  border-radius: 50%;
  background: green;
  width: 20px;
  height: 20px;
  position: relative;
}

.price-range__circle--left {
   margin-right: 80px;
}

.price-range-line {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
}

.price-range__full {
  width: 100%;
  background-color: white;
}

.price-range__choosed {
  width: 200px;
  background-color: white;
}
